name: Test suite for pygeosolve

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Python ${{ matrix.python-version }} (${{ matrix.os }})

    strategy:
      fail-fast: false
      matrix:
        os:
          - macOS
          - Ubuntu
          - Windows
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"

    runs-on: ${{ matrix.os }}-latest

    steps:
    - name: Get source code
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Create package
      run: |
        python -m pip install .
    - name: Test package
      run: |
        python -m pip install .[dev]
        python -m pytest
    # - name: Upload test results
    #   if: always()
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: coverage-${{ matrix.os }}-${{ matrix.python-version }}
    #     path: coverage.xml
